<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="...">
  <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="..." crossorigin="anonymous"></script>

  <title>Dentist Register</title>
  <!-- Remove the extra closing tag for the style element -->
</head>
<body>
  {%include "./khachhang/navbar.html" %}
  <div class="container">
    <div class="row">
      <div class="col-4">{%include "./khachhang/xemlichkham_sidebar.html" %} </div>

      <div class="col-6">

        <div class="modal-dialog" role="document" style="margin-top: 50px;">
        <div class="modal-content rounded-4 shadow">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ngày khám: 1/12/2023</li>
            <li class="list-group-item">Giờ Khám: 8:00</li>
            <li class="list-group-item">Mã Nha Sĩ : 101</li>
            <li class="list-group-item">Tên Nha Sĩ: Phan Nguyên Phương</li>
          </ul>

          <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã thuốc</th>
                <th scope="col">Tên Thuốc</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Đơn giá</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>114</td>
                <td>Anti-despression :(( </td>
                <td>100</td>
                <th scope="col">15.000</th>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã dịch Vụ</th>
                <th scope="col">Tên dịch vụ</th>
                <th scope="col">Đơn giá</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th >1</th>
                <td>X-quang</td>
                <th>15.000</th>
              </tr>
            </tbody>
          </table>

          <ul class="list-group list-group-flush" class="my-4">
            <li class="list-group-item">Họ tên nhân viên: Nguyễn Tạ Bảo</li>
            <li class="list-group-item">Thành tiền: 100.000đ</li>

          </ul> -->
        </div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>



