<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Chức năng</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <!-- <li>
      <a href="/" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Đăng Kí Tài Khoản
      </a>
    </li> 
    <li> -->
      <a href="/user" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Xem Thông Tin Cá Nhân
      </a>
    </li>
    <li>
      <a href="/datlichhen"class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Đặt Lịch Hẹn
      </a>
    </li>
    <li>
      <a href="/xemhsbenhan"  class="nav-link link-body-emphasis" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Xem Hồ Sơ Bệnh Án
      </a>
    </li>
    <li>
      <a href="/xemlichkham" class="nav-link active">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Xem Lịch Khám
      </a>
    </li>

  </ul>
  <hr>
</div>