<div class="modal-dialog" role="document">
<div class="modal-content rounded-4 shadow">



  <ul class="list-group list-group-flush">
    <li class="list-group-item">Mã Hồ Sơ Bệnh Án: 1</li>
    <li class="list-group-item">Ngày Khám: 15/11/2023</li>
    <li class="list-group-item">Mã Nha Sĩ : 101</li>
    <li class="list-group-item">Tên Nha Sĩ: Phan Nguyên Phương</li>
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mã thuốc</th>
        <th scope="col">Tên Thuốc</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Đơn Giá</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>112</td>
        <td>Anti-despression :(( </td>
        <td>100</td>
        <td>15.000</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mã Dịch Vụ</th>
        <th scope="col">Tên Dịch Vụ</th>
        <th scope="col">Đơn Giá</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th >1</th>
        <td>X-quang</td>
        <td>100 </td>
      </tr>
    </tbody>
  </table>

  <ul class="list-group list-group-flush" class="my-4">
    <li class="list-group-item">Họ tên nhân viên: Nguyễn Tạ Bảo</li>
    <li class="list-group-item">Thành tiền: 100.000đ</li>

  </ul>
</div>
</div>