<div class="modal-dialog" role="document">
<div class="modal-content rounded-4 shadow">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ngày Khám</th>
        <th scope="col">Giờ Khám</th>
        <th scope="col">Mã Nha Sĩ Khám</th>
        <th scope="col">Tên Nha Sĩ Khám</th>
        <th scope="col">Tên Khách Hàng</th>
        <th scope="col">Số Điện Thoại</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">15/11/2023</th>
        <td>15:00 pm </td>
        <th scope="col">1</th>
        <td>Phan Nguyên Phương</td>
        <td>Lê Nguyễn Trọng Nghĩa</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>
</div>