<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSigning">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="pass_id1" placeholder="Password">
            <label for="pass_id1">Nhập mật khẩu</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="button" id="sigupbutton12" onclick="validateAndSubmit_pass()">Đăng ký</button>
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function validateAndSubmit_pass() {
  // Get the password input element
  var passwordInput = document.getElementById('pass_id1');
  var sdt = document.getElementById('userInput').value;
  console.log ("sss" , sdt ,passwordInput )
  // Get the entered password
  var password = passwordInput.value;
  
  // Define your password validation criteria
  registerUser_pass(sdt, password);
  // Check if the password meets the criteria
  
}


function registerUser_pass(sdt, password) {
  console.log (sdt,  password);
  // Make an AJAX request to your Flask server
  $.ajax({
    type: "GET",
    url: "/tao_tk_mk",  // Update this with the actual route in your Flask app
    data: {
      sdt: sdt,
      password: password
    },
    success: function (response) {
      // Handle the response from the server
      console.log("Server response:", response);
      // Show success message in the info modal
      if (response == 1)
      {
        alert("Đăng ký thành công!");
      }
      else {
        alert("Đăng ký thất bại. Vui lòng thử lại sau!");
      }
      
    },
    error: function (error) {
      // Show error message in the info modal
      showInfoModal("Đã xảy ra lỗi. Vui lòng thử lại sau!");
      console.error("Error:", error);
    }
  });
}
</script>
