<div class="modal-dialog" role="document">
  <div class="modal-content rounded-4 shadow">

    <ul class="list-group list-group-flush">
      <li id="ma_ho_so" class="list-group-item">Mã Hồ Sơ Bệnh Án: </li>
      <li class="list-group-item">Ngày Khám: 15/11/2023</li>
      <li class="list-group-item">Mã Nha Sĩ : 101</li>
      <li class="list-group-item">Tên Nha Sĩ: Phan Nguyên Phương</li>
    </ul>

    <table id="table_thuoc" class="table">
      <thead>
        <tr>
          <th scope="col">Mã thuốc</th>
          <th scope="col">Tên Thuốc</th>
          <th scope="col">Số Lượng</th>
          <th scope="col">Đơn giá</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td id="ma_thuoc">001</td>
          <td id="ten_thuoc">Anti-despression :(( </td>
          <td id="so_luong_thuoc">100</td>
          <td id="don_gia_thuoc">15.000</td>
        </tr>
      </tbody>
    </table>

    <table id="table_dv" class="table">
      <thead>
        <tr>
          <th scope="col">Mã Dịch Vụ</th>
          <th scope="col">Tên Dịch Vụ</th>
          <th scope="col">Số Lượng Dịch Vụ</th>
          <th scope="col">Đơn giá</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td id="ma_dv">1</td>
          <td id="ten_dv">X-quang</td>
          <td id="so_luong_dv">1</td>
          <td id="don_gia_dv">100</td>
        </tr>
      </tbody>
    </table>

    <ul class="list-group list-group-flush" class="my-4">
      <li id="ten_nhan_vien" class="list-group-item">Họ tên nhân viên: Nguyễn Tạ Bảo</li>
      <li id="thanh_tien" class="list-group-item">Thành tiền: 100.000đ</li>
    </ul>
  </div>
</div>
